* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This creates two columns of equal width */
  height: 100vh; /* Optional: Take up the full viewport height */
  width: 100vw; /* Take up the full viewport width */
  grid-template-areas:
    'pokemon-card form'
    'pokemon-card form';
}

.pokemon-card {
  grid-area: pokemon-card;
  display: grid;
  width: 450px;
  min-width: 450px;
  height: 672px;
  margin: 20px 0px;
  left: 25%;
  border-radius: 15px;
  border: 15px solid #ffd65a;
  overflow: hidden;
  font-family: arial, sans-serif;
  // box-shadow: 20px 12px 20px 0px black;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../assets/background-light.jpg');
    background-size: cover;
    z-index: -1;
    filter: hue-rotate(140deg);
  }
}

.pokemon-card.light {
  &:before {
    background-image: url('./../assets/background-light.jpg');
  }
  .title-row .health {
    color: black;
  }
  /* Add any other light specific styles here... */
}

/* Dark Theme */
.pokemon-card.dark {
  &:before {
    background-image: url('./../assets/background-dark.jpg'); // Adjust this to your dark theme background
  }
  color: #eaeaea; // Assuming you want #eaeaea color in dark theme
  .title-row .health {
    color: #eaeaea; // Assuming you want #eaeaea color in dark theme
  }
  /* Add any other dark specific styles here... */
  .character-meta {
    color: black;
  }
  .character-description {
    background-image: url('./../assets/background-dark.jpg');
  }
}

.title-row {
  display: grid;
  grid-template-areas:
    'rarity rarity rarity'
    'name health type';
  grid-template-columns: auto 100px 25px;
  grid-template-rows: 15px 25px;
  margin: 5px 20px 0px 20px;
  // align-items: center;
  column-gap: 5px;

  .rarity {
    grid-area: rarity;
    font-weight: bold;
    font-size: 12px;
  }
  .name {
    grid-area: name;
    overflow: hidden;
    margin: 0;
  }
  .health {
    grid-area: health;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
    align-self: center;
  }
  .type {
    grid-area: type;
    width: 100%;
  }
}
.character-img-background {
  margin: 0 20px;
  height: 270px;
  padding: 5px;
  background: linear-gradient(
    -60deg,
    #ceb02c,
    #d3af5a,
    #fef0b2,
    #e8d079,
    #d7b154,
    #d7b442
  );
}
.character-img {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
  }
}

.character-meta {
  height: 25px;
  margin: 0 40px;
  display: grid;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(
    to right,
    #ceb02c,
    #d3af5a,
    #fef0b2,
    #e8d079,
    #d7b154,
    #d7b442
  );

  p {
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
  }
}

.character-ability {
  height: 75px;
  display: grid;
  grid-template-columns: 65px auto 65px;
  gap: 5px;
  align-items: center;
  justify-items: center;
  margin: 0 10px;
  border-bottom: 2px solid black;

  .ability-cost {
    img {
      margin-left: 2px;
      width: 30px;
    }
  }

  .ability-description {
    text-align: center;
    .ability-name {
      font-weight: bold;
      height: 16px;
      float: left;
      text-overflow: ellipsis;
    }
    p {
      &:before {
        content: '\00a0';
      }
      img {
        height: 18px;
        vertical-align: middle;
      }
      text-align: left;
      overflow-wrap: anywhere;
    }
  }
  .ability-damage {
    font-weight: bold;
    font-size: 30px;
  }
}

.character-stats {
  height: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .character-stat {
    display: grid;
    justify-items: center;
    grid-template-rows: 20px 25px;
    p {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.character-description-background {
  height: 42px;
  margin: 0 20px;
  padding: 2px;
  background: linear-gradient(
    -60deg,
    #ceb02c,
    #d3af5a,
    #fef0b2,
    #e8d079,
    #d7b154,
    #d7b442
  );
}

.character-description {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: grid;
  align-items: center;
  background-image: url('./../assets/background-light.jpg');
  p {
    font-style: italic;
    font-size: 12px;
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
  }
}

.card-details {
  height: 15px;
  display: grid;
  grid-template-columns: 110px auto 110px;
  font-size: 9px;
  align-items: center;
  margin: 0 5px;
  .artist {
    font-weight: bold;
  }
  .company {
    text-align: center;
  }
  .collector-card-number {
    font-weight: bold;
    text-align: right;
    align-items: center;
    &:after {
      content: '⬤';
      font-size: 9px;
      line-height: 9px;
      padding: 0 5px;
    }
  }
}

.element-icon {
  height: 100%;
}

.form {
  grid-area: form;
  margin: 20px;
}
