<div class="split">
  <div class="form">
    <team-booster-pack-form></team-booster-pack-form>
    <team-booster-pack-download-card></team-booster-pack-download-card>
  </div>
  <div id="pokemon-card" class="pokemon-card" [ngClass]="formService.type()">
    <section class="title-row">
      <p class="rarity">{{ formService.stage() }}</p>
      <h1 class="name">{{ formService.name() }}</h1>
      <p class="health">{{ formService.health() }} HP</p>
      <img
        class="element-icon"
        src="assets/bashroom-{{ formService.iconType() | lowercase }}-icon.png"
      />
    </section>

    <div class="character-img-background">
      <section class="character-img">
        <img [attr.src]="formService.characterImage()" />
      </section>
    </div>

    <section class="character-meta">
      <p>{{ formService.upperText() }}</p>
    </section>

    <section class="character-ability">
      <span class="ability-cost">
        <span *ngFor="let cost of formService.abilityCostOptions; index as i">
          <ng-container *ngIf="i < formService.abilityOneCost().length">
            <img
              src="assets/{{
                formService.abilityOneCost()[i] | lowercase
              }}-icon.png"
            />
          </ng-container>
        </span>
      </span>
      <span class="ability-description">
        <span class="ability-name">{{ formService.abilityOneName() }}</span>
        <p>
          {{ formService.abilityOneDescription() }}
        </p>
      </span>
      <p class="ability-damage">{{ formService.abilityOneDamage() }}</p>
    </section>
    <section class="character-ability">
      <span class="ability-cost">
        <span *ngFor="let cost of formService.abilityCostOptions; index as i">
          <ng-container *ngIf="i < formService.abilityTwoCost().length">
            <img
              src="assets/{{
                formService.abilityTwoCost()[i] | lowercase
              }}-icon.png"
            />
          </ng-container>
        </span>
      </span>
      <span class="ability-description">
        <span class="ability-name">{{ formService.abilityTwoName() }}</span>
        <p>
          {{ formService.abilityTwoDescription() }}
        </p>
      </span>
      <p class="ability-damage">{{ formService.abilityTwoDamage() }}</p>
    </section>

    <section class="character-stats">
      <span class="character-stat">
        <p>location</p>
        <p>{{ formService.location() }}</p>
        <!-- <img class="element-icon" src="assets/bashroom-dark.png" /> -->
      </span>
      <span class="character-stat">
        <p>workEnvironment</p>
        <p>{{ formService.workEnvironment() }}</p>
      </span>
      <span class="character-stat">
        <p>availability</p>
        <p>{{ formService.availability() }}</p>
        <!-- <img class="element-icon" src="assets/bashroom-dark.png" /> -->
      </span>
    </section>

    <section class="character-description-background">
      <div class="character-description">
        <p>
          {{ formService.lowerText() }}
        </p>
      </div>
    </section>

    <section class="card-details">
      <p class="artist">{{ formService.illustrator() }}</p>
      <p class="company">{{ formService.company() }}</p>
      <p class="collector-card-number">
        {{ formService.cardNumber() }}/{{ formService.maxCardNumber }}
      </p>
    </section>
    <div></div>
  </div>
</div>
